.slider {
  display: grid;

  img,
  video {
    width: 343px;
    @media screen and (min-width: 820px) {
      width: 380px;
    }
    @media screen and (min-width: 1280px) {
      width: 400px;
    }
  }
}
.carousel-item {
  margin-right: 20px;
}
