.slider {
  display: flex;

  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1280px) {
    padding-bottom: 120px;
  }

  img,
  video {
    max-width: 380px;
  }
}
.carousel-item {
  margin-right: 20px;
  max-width: 100%;
}
