.mobile-realizacja-component {
  margin-block: 96px;
}
.realizacjaImage-component {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 96px;
}
.realizacja-carousel-component {
  margin-bottom: 60px;
}
.realizacja-img,
.realizacja-video {
  width: 100%;
  grid-column: 1 / span 4;
}
.realizacja-main {
  margin-inline: 16px;
}
