.breadcrumbs {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 820px) {
    flex-direction: row;
    gap: 16px;
  }
  a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
  }
}
.crumb {
  font-family: "DM Sans";
}
.crumb:hover {
  a {
    color: #757270;
  }
}
.crumb:last-child {
  font-weight: 700;
  font-family: "Lora";
}
.breadcrumb-title {
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.breadcrumb-description {
  width: 400px;
  text-align: justify;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
.breadcrumb-arrow {
  width: 100%;
  height: 100%;
  color: white;
}
