.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.breadcrumbs {
  display: flex;
  gap: 1rem;
  a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
  }
}
