.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (min-width: 820px) {
    flex-direction: row;
    gap: 16px;
  }
}
.breadcrumbs {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 820px) {
    flex-direction: row;
    gap: 16px;
  }
  a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
  }
}
