.glossary-components {
  margin-top: 120px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / span 4;
  @media screen and (min-width: 820px) {
    grid-template-columns: repeat(8, 1fr);
    grid-column: 3 / 8;
    margin-top: 165px;
    column-gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 5 / 11;
    margin-inline: 20px;
    margin-top: 77px;
    column-gap: 20px;
  }
}
.word-definiton {
  font-family: "DM Sans";
}
.word-title {
  font-family: "Lora";
  font-weight: bold;
}
