.information {
  font-family: "DM Sans";
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #a6a39f;
  .description-1 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.015em;
  }
  .description-2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    span {
      padding-block: 1px;
      border-bottom: 1px solid #a6a39f;
    }
    a {
      color: #a6a39f;
      text-decoration: none;
    }
  }
}
.information:hover {
  color: black;
  span {
    padding-block: 1px;
    border-bottom: 1px solid black;
  }
  a {
    color: black;
  }
}
