.nav__container {
  padding-top: 16px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  height: 58px;
}
.logo {
  letter-spacing: 0.01em;
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  gap: 1rem;
}
.info-btn {
  font-family: "DM Sans";
  background-color: transparent;
  border: 1px solid black;
  border-radius: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 58px;
  height: 48px;
}
.info-link {
  letter-spacing: 0.01em;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.right-side {
  display: flex;
  gap: 1rem;
}
.prev-page-btn {
  width: 42px;
  height: 42px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
