.offer-components {
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / span 4;
  @media screen and (min-width: 820px) {
    grid-template-columns: repeat(8, 1fr);
    grid-column: 3 / 8;
    margin-top: 165px;
    column-gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
    grid-column: 5 / 11;
    margin-inline: 20px;
    margin-top: 77px;
    column-gap: 20px;
  }
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.title {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.005em;
  font-weight: bold;
  margin-right: 16px;
  font-family: "Lora";
}
.offer__price {
  color: #757270;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-weight: 400;
  margin-left: 16px;
  font-family: "DM Sans";
}
.offer__adn {
  color: #757270;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-weight: 400;

  font-family: "DM Sans";
}
.offer-header {
  margin-bottom: 24px;
}
.offer {
  ul {
    font-family: "DM Sans";
    margin-left: 16px;
    list-style-position: outside;
    list-style-image: url(/src/assets/images/list-style-arrow.png);
  }
}
