.carousel {
  padding-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  @media screen and (min-width: 1440px) {
    position: static;
  }
}
.carousel-slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 12vh;
}
.carousel-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.carousel-item {
  font-weight: 400;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: max-content;
  height: 12vh;
}
.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
