.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  padding-bottom: 20px;
  font-family: "DM Sans";
  z-index: 100;

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #757270;
  }
}
