.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-block: 96px;
  margin-inline: 16px;
  gap: 36px;

  @media screen and (min-width: 820px) {
    grid-template-columns: repeat(6, 1fr);
    margin-block: 144px;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
    margin-block: 144px;
  }
}
.portfolio-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  img,
  video {
    width: 100%;
  }
}

.portfolio-image__text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.portfolio-image:nth-of-type(1) {
  grid-area: 1 / 1 / 2 / 5;
}
.portfolio-image:nth-of-type(2) {
  grid-area: 2 / 1 / 3 / 5;
}
.portfolio-image:nth-of-type(3) {
  grid-area: 3 / 1 / 4 / 4;
}
.portfolio-image:nth-of-type(4) {
  grid-area: 4 / 1 / 5 / 5;
}
.information:nth-of-type(1) {
  grid-area: 5 / 1 / 6 / 4;
}
.portfolio-image:nth-of-type(5) {
  grid-area: 6 / 1 / 7 / 5;
}
.portfolio-image:nth-of-type(6) {
  grid-area: 7 / 1 / 8 / 5;
}
.information:nth-of-type(2) {
  grid-area: 8 / 1 / 9 / 4;
}
.portfolio-image:nth-of-type(7) {
  grid-area: 9 / 1 / 10 / 5;
}
.portfolio-image:nth-of-type(8) {
  grid-area: 10 / 1 / 11 / 4;
}
.portfolio-image:nth-of-type(9) {
  grid-area: 11 / 1 / 12 / 5;
}
.portfolio-image:nth-of-type(10) {
  grid-area: 12 / 1 / 13 / 5;
}
.information:nth-of-type(3) {
  grid-area: 13 / 1 / 14 / 4;
}
.portfolio-image:nth-of-type(11) {
  grid-area: 14 / 1 / 15 / 4;
}
.portfolio-image:nth-of-type(12) {
  grid-area: 15 / 1 / 16 / 5;
}

@media screen and (min-width: 820px) {
  .portfolio-image:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 4;
  }
  .portfolio-image:nth-of-type(2) {
    grid-area: 1 / 4 / 2 / 7;
  }
  .portfolio-image:nth-of-type(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
  .portfolio-image:nth-of-type(4) {
    grid-area: 2 / 3 / 3 / 6;
  }
  .information:nth-of-type(1) {
    grid-area: 3 / 1 / 4 / 3;
  }
  .portfolio-image:nth-of-type(5) {
    grid-area: 3 / 3 / 4 / 6;
  }
  .portfolio-image:nth-of-type(6) {
    grid-area: 4 / 1 / 5 / 4;
  }
  .information:nth-of-type(2) {
    grid-area: 4 / 5 / 5 / 7;
  }
  .portfolio-image:nth-of-type(7) {
    grid-area: 5 / 2 / 6 / 5;
  }
  .portfolio-image:nth-of-type(8) {
    grid-area: 5 / 5 / 6 / 7;
  }
  .portfolio-image:nth-of-type(9) {
    grid-area: 6 / 1 / 7 / 4;
  }
  .portfolio-image:nth-of-type(10) {
    grid-area: 6 / 4 / 7 / 7;
  }
  .information:nth-of-type(3) {
    grid-area: 7 / 2 / 8 / 4;
  }
  .portfolio-image:nth-of-type(11) {
    grid-area: 7 / 4 / 8 / 6;
  }
  .portfolio-image:nth-of-type(12) {
    grid-area: 8 / 1 / 9 / 4;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-image:nth-of-type(1) {
    grid-area: 1 / 3 / 2 / 7;
  }
  .portfolio-image:nth-of-type(2) {
    grid-area: 1 / 7 / 2 / 11;
  }
  .portfolio-image:nth-of-type(3) {
    grid-area: 2 / 2 / 3 / 5;
  }
  .portfolio-image:nth-of-type(4) {
    grid-area: 2 / 5 / 3 / 9;
  }
  .information:nth-of-type(1) {
    grid-area: 2 / 10 / 3 / 12;
  }
  .portfolio-image:nth-of-type(5) {
    grid-area: 3 / 3 / 4 / 7;
  }
  .portfolio-image:nth-of-type(6) {
    grid-area: 3 / 8 / 4 / 12;
  }
  .information:nth-of-type(2) {
    grid-area: 4 / 2 / 5 / 4;
  }
  .portfolio-image:nth-of-type(7) {
    grid-area: 4 / 5 / 5 / 9;
  }
  .portfolio-image:nth-of-type(8) {
    grid-area: 4 / 9 / 5 / 12;
  }
  .portfolio-image:nth-of-type(9) {
    grid-area: 5 / 2 / 6 / 6;
  }
  .portfolio-image:nth-of-type(10) {
    grid-area: 5 / 6 / 6 / 10;
  }
  .information:nth-of-type(3) {
    grid-area: 5 / 10 / 6 / 12;
  }
  .portfolio-image:nth-of-type(11) {
    grid-area: 6 / 3 / 7 / 6;
  }
  .portfolio-image:nth-of-type(12) {
    grid-area: 6 / 7 / 7 / 11;
  }
}
