.showreal-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 36px;
  z-index: -1;
  @media screen and (min-width: 820px) {
    gap: 60px;
  }
  @media screen and (min-width: 820px) {
    gap: 0;
  }
}
.showreal-video-container {
  margin-inline: 60px;
}
.showreal-video {
  width: 100%;
}
.portfolio-link {
  background-color: black;
  padding: 8px 16px;
  border-radius: 99vh;
  text-decoration: none;
  z-index: 100;
  text-decoration: mone;
  color: white;
  @media screen and (min-width: 820px) {
    position: absolute;
    transform: translateY(60px);
  }
}
