.showreal-container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  justify-items: center;
  width: 100%;

  @media screen and (min-width: 820px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (min-width: 1280px) {
  }
}
.showreal-video-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  transform: translateY(36px);
  align-items: center;
  margin-inline: 60px;
  max-width: 600px;

  @media screen and (min-width: 820px) {
    grid-column: 2 / span 3;
    margin: 0;
  }
  @media screen and (min-width: 1280px) {
    transform: none;
    width: 100%;
  }
}
.showreal-video {
  width: 100%;
}
.portfolio-link {
  background-color: black;
  padding: 8px 16px;
  border-radius: 99vh;
  text-decoration: none;
  z-index: 100;
  text-decoration: mone;
  color: white;
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60px);
  }
}
.portfolio-link:hover {
  background-color: #757270;
  color: #d8d3cf;
}
